@import '~node_modules/swiper/swiper-bundle.min.css';

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('src/fonts/Montserrat-ExtraBold.woff') format('woff'),
       url('src/fonts/Montserrat-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('src/fonts/Montserrat-Medium.woff') format('woff'),
       url('src/fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('src/fonts/Montserrat-Regular.woff') format('woff'),
       url('src/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-wildsand: #f4f4f4;
  --color-white: #fff;
  --color-black: #000;
  --color-eminence: #662d91;
  --color-eucalyptus: #4fd1c5;
  --color-gray: #858585;
  --color-tundora: #454545;
  --color-bright-turquoise: #00ffcb;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
/*overflow-anchor: none;*/
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-black);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #000;
  opacity: 0.2;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 25px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 15px;
}

.swiper-pagination-bullet {
  margin: 0 40px;
  width: 6px;
  height: 6px;
  background: var(--color-white);
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  position: relative;
  background-color: var(--color-black);
  opacity: 1;
}
.swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: var(--color-white);
  transform: translate(-50%, -50%);
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 25px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 15px;
}

.swiper-pagination-bullet {
  margin: 0 40px;
  width: 6px;
  height: 6px;
  background: var(--color-white);
  opacity: 0.7;
}


.swiper-pagination-bullet-active {
  position: relative;
  background-color: var(--color-black);
  opacity: 1;
}