.location {
  position: relative;
  display: flex;
  align-items: center;
}

.locationIcon {
  width: 18px;
  height: 18px;
  fill: var(--color-eminence)
}

.locationSelect {
  appearance: none;
  outline: none;
  border: none;
  font-size: 16px;
  color: var(--color-eminence);
  background-image: url('../../../img/svg/down-arrow.svg');
  background-position: 90% 50%;
  background-size: 10px 10px;
  background-repeat: no-repeat;
}

.cityText {
  color: var(--color-eminence);
  font-weight: bold;
}