:global(.photoLike) {
  display: flex;
  /*width: 40px;*/
  height: 26px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 2px;
  cursor: pointer;
  transition: opacity .3s linear;
  z-index: 10;
  opacity: 0;
}

:global(.photoLike) img {
  width: 20px;
  height: 20px;
}

:global(.photoLike):hover {
  z-index: 20;
  opacity: 1 !important;
  transition: opacity .3s linear;
}

:global(.likeByUser) {
  opacity: 1;
  background-color: red;
}