.footer {
  color: var(--color-white);
  background-color: var(--color-eminence);
}

.footer span {
  font-size: 22px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1060px;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}

.footerTop img {
  display: block;
  width: 100px;
  height: 54px;
}

.contacts span {
  font-size: 22px;
}

.contactsList {
  margin-top: 20px;
}

.contactsList li:not(:last-child) {
  margin-bottom: 20px;
}

.contactsList a {
  transition: text-decoration 0.3s ease-in;
}

.contactsList a:hover {
  text-decoration: underline;
  transition: text-decoration 0.3s ease-in;
}

.listItemTel,
.listItemMail {
  position: relative;
  padding-left: 30px;
}

.listItemTel::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background-image: url('../../img/svg/telephone.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.listItemMail::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background-image: url('../../img/svg/mail.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.socialList {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.link {
  display: block;
  border: 1px solid var(--color-white);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.link:hover {
  border: 1px solid #3b5998;
  box-shadow: 0 0 15px var(--color-bright-turquoise);
  transition: all 0.5s ease;
}

.vk {
  background-image: url('../../img/svg/vk.svg');
}

.google {
  background-image: url('../../img/svg/google.svg');
}

.ok {
  background-image: url('../../img/svg/ok-logo.svg');
}
.footerBottom {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding: 20px 0;
  text-align: center;
}

@media(max-width: 576px) {
  .footerTop {
    padding: 20px 0;
    flex-direction: column;
  }

  .footerTop img,
  .inSocialText {
    display: none;
  }

  .contacts {
    margin-bottom: 20px;
  }


}
